@import './reset.scss';

.goods_list{
    width: 1000px;
    margin: 0 auto;
    color: #333333;
    padding-top: 15px;
    .goods_list_nav{
        border: 1px solid #cccccc; 
        position: relative;
        div{
            border-top: 1px dashed #ddd;
            overflow: hidden;
            line-height: 50px;
            font-family: tahoma;
            &:first-child{
                border-top: none;
            }
            h1{
                height: 50px;
                font-size: 12px;
                float: left;
                width: 98px;
                font-weight: normal;  
                padding-left: 20px;
                color: #666666;
            }
            h2{
                font-size: 12px;
                float: left;
                span{
                    width: 700px;
                    float: left;
                    height: 50px;
                    overflow-y: hidden;
                    p{
                        height: 126px;
                    }
                    a{
                        float: left;
                        color: #333333;
                        margin: 0 50px 20px 0;
                    }
    
                }
            }
            p{
                height: 20px;
                border-radius: 3px;
                line-height: normal;
                margin: 15px 10px 0 0;
                float: right;
                em{
                    float: left;
                    width: 48px;
                    height: 22px;
                    margin-right: 4px;
                    color: #666666;
                    padding-top: 2px;
                    cursor: pointer;
                }
                span{
                    width: 46px;
                    height: 20px;
                    border: 1px dashed #d1d1d1;                    
                    border-radius: 3px;
                    i{
                        color: #ccc;
                        margin: 0 6px 0 4px;
                    }
                }
            }
        }
        h3{
            width: 120px;
            height: 26px;
            border: 1px solid #cccccc;
            border-top: none;
            margin: 0 auto;
            line-height: 26px;
            text-align: center;
            font-size: 12px;
            color: #000000;
            background-color: #fff;
            position: absolute;
            left: 50%; bottom: -27px;
            margin-left: -60px;
            cursor: pointer;
        }
    }
    .goods_list_filter{
        border: 1px solid #ccc;
        margin-top: 50px;
        height: 46px;
        background-color: #f5f5f5;
        position: relative;
        ul{
            float: left;
            margin-left: -1px;
            margin-top: -1px;
            overflow: hidden;
            height: 48px;           
            li{
                float: left;
                line-height: 46px;
                text-align: center;
                border-right: 1px solid #ccc;
                &:hover a{
                    color: #f10180;
                }  
                &:first-child{
                    border: 1px solid #f10180;
                }                
                a{
                    float: left;
                    height: 46px;
                    width: 67px;
                    color: #333333;
                }
            }
        }
        .filter_price{
            float: left;
            padding: 12px 0 0 10px;
            height: 36px;
            input{
                border: 1px solid #ccc;
                margin: 0;
                padding: 0;
                width: 52px;
                height: 22px;
                padding: 0 5px;
            }
        }
        p{
            float: right;
            padding-top: 12px;
            height: 36px;
            font-size: 14px;
            color: #333333;
            em{
                margin-right: 20px;
                i{
                    color: #f10180;
                }
            }
            strong{
                color: #f10180;
            }
            b{
                margin-right: 10px;
            }
            span{
                float: right;
                color: #848585;
                margin-right: 10px;
                cursor: pointer;
            }
            
        }
    }
    .goods_list_container{
        width: 1000px;
        margin-top: 20px;
        .goods_container{
            width: 1100px;  
            a{
                float: left;
            }          
            div{
                float: left;
                margin: 0 20px 20px 0;
                width: 233px;
                height: 355px;
                border: 1px solid #ccc;
                position: relative;
                &:hover{
                    border-color: transparent;
                }
                &:hover::before{
                    content: '';
                    position: absolute;
                    border: 1px solid #f10180;
                    left: -10px; top: -10px;
                    right: -10px; bottom: -10px;
                }
                img{
                    width: 233px;
                    height: 235px;
                }
                h5{
                    height: 18px;
                    padding-top: 12px;
                    color: #999999;
                    font-size: 14px;
                    span{
                        float: left;
                        color: #fff;
                        background-color: #ff38c0;
                        width: 44px;
                        font-size: 12px;
                        height: 18px;
                        border-radius: 8px;
                        line-height: 18px;
                        text-align: center;
                        margin-left: 10px;
                    }
                    em{
                        font-size: 23px;
                        color: #333;
                        font-weight: bold;
                        line-height: 20px;
                        margin-left: 4px;
                    }
                    b{
                        text-decoration: line-through;
                        margin: 0 4px;
                    }
                }
                p{
                    color: #666666;
                    margin: 20px 0 0 10px;
                }
            }
        }
        .page_number{
            width: 1000px;
            height: 46px;
            overflow: hidden;
            margin: 100px auto 40px;
            em{
                float: left;
                color: #333333;
                line-height: 44px;
                margin: 0 20px 0 300px;
            }
            .page_color{
                background-color: #f10180;
                border-color: #f10180;
                color: #fff;
            }
            .back_color{
                background-color: #fcf5f7;
                color: #f10180;
                border-color: #ffbde0;
            }
            span{
                float: left;
                width: 44px;
                height: 44px;
                border: 1px solid #ccc;
                line-height: 44px;
                text-align: center;
                border-radius: 3px;
                color: #848585;
                margin-right: 2px;
                cursor: pointer;         
            }            
        }
    }
}
@import './footer';